[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
psycopg2 = "*"
pillow = "*"
django-cloudinary-storage = "*"

[dev-packages]
black = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
