{% extends 'base.html' %} 
{% load static %}
<!-- ------ PAGE IDENTITY ------ -->

{% block title %} Explore {% endblock %}

{% block additional_styles %}
<style>
</style>
{% endblock %}

<!-- ------ PAGE IDENTITY ------ -->

{% block content %}
    <h1>Featured this hour</h1>
    <div class="featured-cards">
        <div class="page-content">
            {% for featured in featured_challenges %}
                <div
                    class="card"
                    style="
                        background-image: url({{ featured.get_featured_image }});
                    "
                >
                    <div class="content">
                        <h2 class="title">{{ featured.title|truncatechars:24 }}</h2>
                        <p class="copy"> {{ featured.description|truncatechars:40 }} </p>
                        <a class="btn" href="{{ featured.get_absolute_url }}">CHECK IT OUT</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <h1>Explore Challenges</h1>
    <div class="challenge-options">
        <a href="{% url 'challenges:random' %}" class="random-btn">
            <img src="{% static 'base/images/icons/shuffle.svg' %}" alt="" />
            <span>Random Challenge</span>
        </a>
    </div>
    <div class="challenges-container">
        {% for challenge in challenges %} 
            <a href="{{ challenge.get_absolute_url }}" class="challenge">
                <h3>{{ challenge.title|truncatechars:40 }}</h3>
                <p class="difficulty">
                    <span>Difficulty:</span> <span class="{{ challenge.difficulty_translate }}">{{ challenge.difficulty_translate|capfirst }}</span>
                </p>
                <p class="completion">
                    <span>Completion rate:</span> <span>{{ challenge.completion_rate }}%</span>
                </p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
