{% extends 'authbase.html' %} 

{% load static %}

{% block title %} Login {% endblock %} 

{% block content %}

    <div class="yelo sign-up">
        <div class="form-container">
            <div class="form-heading">
                <h1 class="auth-title">Sign Up</h1>
                <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
            </div>
            <form id="LoginForm">
                <div class="input-container">
                    <div class="form-field-container">
                        <div class="form-field">
                            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            {{ form.username }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                            {{ form.password }}
                        </div>
                        <div class="form-field">
                            <label for="{{ form.password_confirm.id_for_label }}">{{ form.password_confirm.label }}</label>
                            {{ form.password_confirm }}
                        </div>
                        <div class="password-policy-list">    
                            <ul>
                                <li>
                                    Your password can’t be too similar to your other personal information.
                                </li> 
                                <li>
                                    Your password must contain at least 8 characters.
                                </li>
                                <li>
                                    Your password can’t be a commonly used password.
                                </li>
                                <li>
                                    Your password can’t be entirely numeric.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="auth-btn submit-btn">Submit</button>
                        <p>OR</p>  
                        <a href="#" class="auth-btn google-btn">
                            <span class="google-icon"><img src="{% static 'base/images/icons/google-icon.svg' %}"></span>
                            <span>Continue with Google</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div> 

{% endblock %}
